.ItemCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.CartShop{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
}
.CartShopTitel{
    padding: 15px;
    font-size: 25px;
    font-weight: 500;
}
.ImageCartShop{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    border-radius: 10px;
}
.CartShopDecs {
    font-size: 20px;
    font-weight: 500;
    margin: 15px;
}
.CartShopPrice{
    font-size: 20px;
    font-weight: 500;
    margin: 15px;
    color:rgb(184, 113, 33);
}
  .DeleteIcon{
    width: 25px;
    height: 25px;
  }

  .PlusIcon{
    font-size: 18px;

    color: white;
  }
  .InfoAddress{
    text-align: center;
    background-color: #fae7d2;
    margin-bottom: 5px;
    padding-top: 20px;
    border-radius: 10px;
  }
  .ArrowIcon{
    font-size: 23px;
  }
